@use '../../assets/styles/var.scss' as var;

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-decoration: none;
  color: inherit;
  border-radius: var.$radiusBig;
  border: 0.1rem solid var.$borderColor;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: transform var.$transitionTime;

  &:hover {
    .overlayButton {
      display: block;
    }

    transform: scale(1.02);
  }
}

.img {
  width: 100%;
  height: 22rem;
  object-fit: cover;
  border-bottom: 0.1rem solid var.$borderColor;
}

.overlayButton {
  display: none;
}

.badge {
  position: absolute;
  width: 6.3rem;
  height: 3.1rem;
  top: 1.6rem;
  right: 1.6rem;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 3%;
  color: var.$secondTextColor;
  padding: 0.4rem 0.8rem;
  font-size: 1.8rem;
  background-color: var.$saleProcent;
  border-radius: var.$radiusSmall;
  @include var.flex
}

.productInfo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 0 2rem 2rem;
  background: var.$bgColor;
}

.productTitle {
  font-weight: 500;
  font-size: 1.8rem;
  color: var.$textColor;
  line-height: 130%;
  letter-spacing: 0%;
  width: 100%;
  height: 100%;
}

.priceBlock {
  @include var.flex(start, start, row, wrap);
  gap: 1.2rem;
  width: 100%;

}


.overlayButton {
  top: 15rem;
  position: absolute;
  z-index: 1;
  width: 85%;
  left: 50%;
  translate: -50%;
  transition: background-color var.$transitionTime;

  &:hover {
    background-color: var.$textColor;
  }
}

@media screen and (min-width: 480px) {
  .badge {
    width: 5.8rem;
  }
}

@media screen and (min-width: 768px) {
  .imageWrapper {
    height: 25rem;
  }

  .badge {
    width: 6.3rem;
    height: 3.4rem;
  }
}

@media screen and (min-width: 1000px) {
  .overlayButton {
    top: 21rem;
  }
}

@media screen and (min-width: 1440px) {
  .img {
    height: 28.4rem;
  }
}