@use '../../assets/styles/var.scss' as var;

.discription {
  @include var.flex(flex-start, flex-start, column);
  gap: 1.2rem;
}

.descriptionTitle {
  @include var.text(var.$textColor, 1.8rem, 600);
}

.descriptionText {
  @include var.text(var.$textColor, 1.4rem, 400);
}

.descriptionBtn {
  @include var.text(var.$textColor, 1.4rem);

  width: min-content;
  border: none;
  background: none;
  text-decoration: underline;
  text-decoration-style: solid;
  text-wrap: nowrap;
  cursor: pointer;

  &:hover {
    color: var.$primaryColor;
  }
}

@media screen and (min-width: 768px) {
  .descriptionTitle {
    font-size: 2rem;
  }

  .descriptionText {
    font-size: 1.6rem;
  }

  .descriptionBtn {
    font-size: 1.6rem;
  }
}