@use "../../assets/styles/var.scss" as var;

.card {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: auto;
  transition: var.$transitionTime;
}

.img {
  height: 22rem;
  width: 100%;
  aspect-ratio: 4 / 3;
  border-radius: var.$radiusBig;
  object-fit: cover;
}

.title {
  @include var.text(var.$textColor, 1.8rem, 350);
  min-height: 2.3rem;
}

@media screen and (min-width: 480px) {
  .img {
    height: 26rem;
  }
}

@media screen and (min-width: 768px) {
  .img {
    height: 25rem;
  }
}

@media screen and (min-width: 1000px) {
  .card {
    &:hover {
      transform: scale(1.1);
    }
  }
}

@media screen and (min-width: 1440px) {
  .img {
    height: 35rem;
  }
}