@use '../../assets/styles/var.scss' as var;

.section {
  @include var.flex(center, flex-start, column);
  gap: 2.4rem;
  padding: 5.6rem var(--containerPadding) 0;
}

.images {
  width: 100%;
}

.hgroup {
  @include var.flex(center, flex-start, column);
  gap: 1.2rem;
}

.sectionTitle {
  @include var.text(var.$textColor, 4rem, 700, 110%);
  text-align: center;
  width: 100%;
}

.subTitle {
  @include var.text(var.$spanColor);
  text-align: center;
}

// Media

@media screen and (min-width: 480px) {
  .sectionTitle {
    font-size: 4.8rem;
  }
}

@media screen and (min-width: 768px) {
  .section {
    gap: 3.2rem;
    padding: 6rem var(--containerPadding) 0;
  }

  .images {
    max-width: 64.8rem;
  }

  .sectionTitle {
    font-size: 5.6rem;
  }

  .subTitle {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1000px) {
  .images {
    max-width: 69rem;
  }

  .hgroup {
    gap: 1.6rem;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding: 8rem var(--containerPadding) 0;
  }

  .sectionTitle {
    font-size: 6.4rem;
  }

}