@use '../../assets/styles/var.scss' as var;

.section {
  display: grid;
  margin-top: 3.2rem;
  gap: 2rem;
  width: 100%;
  max-width: 100%;
  padding: 0 var(--containerPadding);
}

.title {
  color: var.$textColor;
  font-size: 2.8rem;
  font-family: Montserrat;
  font-weight: 700;
  height: min-content;
}

.img {
  border-radius: var.$radiusBig;
  border: .1rem solid var.$borderColor;
  height: 22rem;
  width: 100%;
  object-fit: contain;
}

.actions {
  @include var.flex(center, center, column);
  gap: 1.2rem;
  width: 100%;
  position: relative;
}

.actionsBadge {
  position: absolute;
  top: -23rem;
  right: 1rem;
  z-index: 10;
}

.actionsButton {
  width: 100%;
  max-width: 50rem;
}



@media screen and (min-width: 480px) {
  .section {
    grid-template-columns: 1fr 1fr;
  }

  .title {
    grid-column: 1/3;
  }


  .actions {
    align-items: flex-start;
  }

  .actionsBadge {
    top: 1rem;
    right: 50vw;
  }

  .discription {
    grid-column: 1/3;
  }
}

@media screen and (min-width: 768px) {

  .title {
    font-size: 3.2rem;
    grid-column: 2/3;
  }

  .img {
    grid-row: 1/3;
  }

  .actions {
    gap: 2rem;
  }

  .actionsInfo {
    display: flex;
    gap: 1.6rem;
  }

  .actionsBadge {
    position: static;
    top: 0;
    right: 0;
  }
}

@media screen and (min-width: 1000px) {
  .section {
    grid-template-rows: min-content min-content 1fr;
  }

  .title {
    font-size: 4rem;
  }

  .img {
    grid-row: 1/4;
    height: 57.2rem;
  }

  .actions {
    display: grid;
    gap: 3.2rem 2rem;
    justify-content: flex-start;
    grid-template-columns: min-content 1fr;
  }

  .actionsInfo {
    grid-column: 1/3;
  }

  .discription {
    grid-column: 2/3;
  }
}

@media screen and (min-width: 1440px) {

  .section,
  .actions {
    gap: 3.2rem;
  }

}