@use '../../assets/styles/var.scss' as var;


.form {
  @include var.flex(center, flex-start, column);
  width: 100%;
  gap: 0.8rem;

  button {
    margin-top: 1.2rem;
    width: 100%;
  }
}
.error {
  font-family: "Montserrat", sans-serif;
  color: var.$secondTextColor;
  text-align: left;
  align-self: flex-start;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.26;
  letter-spacing: 0;
}
.errorIcon {
  display: inline-block;
  vertical-align: top;
}

.success {
  font-family: "Montserrat", sans-serif;
  color: var.$secondTextColor;
  text-align: left;
  align-self: flex-start;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.26;
  letter-spacing: 0;
}


@media screen and (min-width: 768px) {
  .form {
    gap: 1.2rem;

    button {
      margin-top: 0.8rem;
    }
  }
  .error {
  font-size: 1.6rem;
}
.success{
 font-size: 1.6rem;
}

.errorIcon {
width: 2rem;
height: 2rem;
}
}

@media screen and (min-width: 1440px) {
  .form {
    gap: 1.6rem;

    button {
      margin-top: 1.6rem;
    }
  }

}