@use '../../assets/styles/var.scss' as var;

.filter {
  @include var.flex(center, flex-start, row, wrap);
  min-width: 100%;
  height: 100%;
  border-radius: var.$radiusSmall;
  gap: 1.6rem;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.3;
  letter-spacing: 0;
  border: none;
}

.filterContainer {
  @include var.flex(center, flex-start);
  gap: 1.2rem;
}

.label {
  cursor: pointer;
  width: 600;
  font-size: 1.8rem;
  line-height: 1.3;
  color: var.$textColor;
}

.filterInput {
  width: 11.2rem;
  padding: 0.8rem 1.6rem;
  border-radius: var.$radiusSmall;
  border: 0.1rem solid var.$borderColor;
  color: var.$spanColor;
}

.checkbox {
  padding: 1.3rem 1.7rem;
  cursor: pointer;
  border: 1px solid #DDDDDD;
}