@use '../../assets/styles/var.scss' as var;

.filter {
  @include var.flex(center, flex-start, row, wrap);
  gap: 1.6rem;
  min-width: 100%;
  height: 100%;
  border-radius: var.$radiusSmall;
  border: none;
}

.filterContainer {
  @include var.flex(center, flex-start);
  gap: 1.2rem;
}

.label {
  @include var.text(var.$textColor, 1.8rem, 600);
  cursor: pointer;
}

.filterInput {
  @include var.text(var.$spanColor, 1.6rem);
  width: 11.2rem;
  padding: 0.8rem 1.6rem;
  border-radius: var.$radiusSmall;
  border: 0.1rem solid var.$borderColor;
}