@use '../../assets/styles/var.scss' as var;

// --- Общая секция ---
.section {
  width: 100%;
  padding: 0 2rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

// --- Заголовок секции ---
.sectionHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  // Визуальный контейнер с заголовком, линией и кнопкой
  .sectionHeaderContent {
    display: flex;
    align-items: center;
    width: 100%;

  }

  h2 {
    
    margin-right: 3rem;
  }

  .sectionDivider {
    flex-grow: 1;
    height: 0.1rem;
    background-color: var.$borderColor;
    display: none;
  }
}

// --- Сетка категорий и товаров ---
.categoryGrid,
.saleGrid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

// --- Кнопки ---
.actions {
  display: flex;
  justify-content: center;

  .allCategories {
    font-size: 1.4rem;
    padding: 1rem 2rem;
    border: 0.1rem solid black;
    border-radius: var.$radiusSmall;
    text-decoration: none;
    color: var.$textColor;
    transition: var.$transitionTime;

    &:hover {
      background-color: var.$textColor;
    }
  }
}

// Внизу (до 480px)
.actionsFooter {
  display: flex;
  justify-content: center;
}

// Справа от заголовка (с 480px)
.actionsHeader {
  display: none;
}

@media screen and (min-width: 480px) {
  .sectionHeader {
    .sectionHeaderContent {
      justify-content: space-between;
    }

    .sectionDivider {
      display: block;
    }

    .actionsHeader {
      display: flex;
      align-items: center;

      .allCategories {
        font-size: 1.4rem;
        padding: 1rem 2rem;
        border: 0.1rem solid #DDDDDD;
        border-radius: var.$radiusSmall;
        text-decoration: none;
        color: var.$textColor;
      }

      &::before {
        content: "";
        display: block;
        width: 1px;
        height: 100%;
        background-color:var.$borderColor;
      }
    }
  }

  .actionsFooter {
    display: none;
  }

  .categoryGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .saleGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .categoryGrid {
    grid-template-columns: repeat(4, 1fr);
  }

  .saleGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1440px){
  .saleGrid,
  .categoryGrid{
    gap: 3.2rem;
  }


}