@use '../../assets/styles/var.scss' as var;

.sectionCards {
  display: grid;
  align-items: center;
  width: 100%;
  padding: 0 var(--containerPadding);
  margin-top: 4rem;
  gap: 2.4rem 0.8rem;
}

.sectionCardsDivider {
  display: none;
  border: none;
  height: 0.1rem;
  background-color: var.$borderColor;
}

.sectionCardsContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.sectionCardsLink {
  margin: auto;
}

@media screen and (min-width: 480px) {
  .sectionCards {
    grid-template-columns: min-content 1fr min-content;
  }

  .sectionCardsDivider {
    display: block;
    translate: 0.8rem 0.5rem;
  }

  .sectionCardsLink {
    translate: 0 0.5rem;
  }

  .sectionCardsContainer {
    grid-column: 1/4;
    order: 4;
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem 2rem;
  }
}

@media screen and (min-width: 768px) {
  .sectionCards {
    gap: 3.2rem 0.8rem;
  }

  .sectionCardsContainer {
    gap: 2rem;
  }
}

@media screen and (min-width: 1000px) {
  .sectionCardsContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  .sectionCards {
    gap: 4rem 0.8rem;
  }

  .sectionCardsContainer {
    gap: 3.2rem
  }
}