@use '../../assets/styles/var.scss' as var;

.banner {
  @include var.flex(flex-start, flex-start, column);
  gap: 2.4rem;
  position: relative;
  width: 100%;
  height: calc(100vh - 6.9rem);
  padding: 5rem var(--containerPadding) 0;
  background-image: url("../../assets/img/section1.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bannerTitle {
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 1.2;
  letter-spacing: 0;
  color: var.$secondTextColor;
}

// ----------------

.discount {
  position: relative;
  @include var.flex(center, flex-start, column);
  width: calc(100% - var(--containerPadding) * 2);
  margin-top: 5.6rem;
  padding: 2.4rem 2rem 23.2rem;
  gap: 2.4rem;
  background: linear-gradient(80.46deg, #87933D -0.68%, #55610B 66.66%);
  border-radius: var.$radiusBig;

  &::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
    z-index: 100;
    content: "";
    background-image: url("../../assets/img/discount_form.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 23.2rem;
  }
}

.discountTitle {
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.1;
  letter-spacing: 0;
  text-align: center;
  color: var.$secondTextColor;
}


@media screen and (min-width: 480px) {
  .banner {
    padding: 6rem var(--containerPadding) 0;
  }

  .bannerTitle {
    font-size: 6rem;
  }

  .discount {
    padding: 2.4rem 2rem 21.4rem;

    &::after {
      height: 21.4rem;
    }
  }

  .discountTitle {
    font-size: 4.8rem;
  }
}

@media screen and (min-width: 768px) {
  .banner {
    gap: 4rem;
  }

  .bannerTitle {
    font-size: 6.7rem;
  }

  .discount {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 3.2rem 2rem;
    overflow: hidden;

    &::after {
      height: 30.8rem;
      width: 60.2rem;
      translate: -101.5%;
    }

    form {
      grid-column: 2/3;
    }
  }

  .discountTitle {
    grid-column: 1/3;
    font-size: 5.6rem;
  }
}

@media screen and (min-width: 1000px) {
  .bannerTitle {
    font-size: 8.9rem;
  }

  .discountTitle {
    font-size: 6.4rem;
  }
}

@media screen and (min-width: 1440px) {
  .banner {
    padding: 8rem var(--containerPadding) 0;
  }

  .bannerTitle {
    font-size: 9.6rem;
  }

  .discount {
    display: grid;
    grid-template-columns: 1fr 51.6rem;
    gap: 5.6rem;
    padding: 3.2rem;

    &::after {
      height: 36rem;
      width: 74.8rem;
      left: 3.2rem;
      translate: 0;
    }

    form {
      grid-column: 2/3;
    }
  }
}