@use '../../assets/styles/var.scss' as var;


.cardsContainer {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    margin-top: 3.2rem;
    width: 100%;
    padding: 0 var(--containerPadding);
    gap: 2.4rem 2rem;
  }

@media screen and (min-width: 480px) {
     .cardsContainer{
    grid-template-columns: 1fr 1fr;
};
    .categoriesTitle{
    grid-column: 1/3;
}
}
    
@media screen and (min-width: 768px) {
   .categoriesTitle{
       grid-column: 1/3;
   }

   .cardsContainer{
       gap: 3.2rem 2rem;
   }
}

@media screen and (min-width: 1000px) {
    .categoriesTitle{
        grid-column: 1/4;
    }
 
    .cardsContainer{
        margin-top: 4rem;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3.2rem 2.1rem;
    }
 }

 @media screen and (min-width: 1440px) {
    .categoriesTitle{
        grid-column: 1/6;
    }
 
    .cardsContainer{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 4rem 3rem;
    }
 }