@use '../../../assets/styles/var.scss' as var;

.link {
    max-width: min-content;
    padding: 1.1rem 2.35rem;
    border: 0.1rem solid var.$borderColor;
    border-radius: var.$radiusSmall;
    transition: var.$transitionTime;
    color: var.$spanColor;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    align-self: center;
    text-decoration: none;
    text-wrap: nowrap;
    max-width: 30rem;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
        background-color: var.$spanColor;
        color: var.$secondTextColor;
    }
}

.disabled {
    color: var.$textColor;

    &:hover {
        background: none;
        color: var.$textColor;
    }
}

@media screen and (min-width: 480px) {
    .link {
        padding: 0.7rem 1.55rem;
    }
}

@media screen and (min-width: 768px) {
    .link {
        font-size: 1.6rem;
    }
}