@use '../../../assets/styles/var.scss' as var;

.container {
    @include var.flex(center, space-between);
}

.link {
    @include var.text(var.$spanColor, 1.4rem, 500, 126%);
    padding: 1.1rem 2.35rem;
    border: 0.1rem solid var.$borderColor;
    border-radius: var.$radiusSmall;
    transition: var.$transitionTime;
    text-align: center;
    text-decoration: none;
    text-wrap: nowrap;
    max-width: 30rem;
    height: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
        background-color: var.$spanColor;
        color: var.$secondTextColor;
    }
}

.disabled {
    color: var.$textColor;

    &:hover {
        background: none;
        color: var.$textColor;
    }
}

.sectionCardsDivider {
    flex: 1;
    display: none;
    border: none;
    height: 0.1rem;
    background-color: var.$borderColor;
}

@media screen and (min-width: 480px) {
    .link {
        padding: 0.7rem 1.55rem;
    }

    .sectionCardsDivider {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .link {
        font-size: 1.6rem;
    }
}