@use '../../../assets/styles/var.scss' as var;

.button {
  @include var.text(var.$textColor, 1.8rem, 600);
  text-align: center;
  text-decoration: none;
  text-wrap: nowrap;
  border-radius: var.$radiusSmall;
  padding: 1.2rem 5.2rem;
  border: none;
  cursor: pointer;
}

.green {
  background: var.$primaryColor;
  color: var.$bgColor;
}

.white {
  background: var.$bgColor;
  color: var.$textColor;
}

.orange {
  background: var.$saleProcent;
  color: var.$secondTextColor;
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 2rem;
    padding: 1.6rem 5.6rem;
  }
}