@use '../../../assets/styles/var.scss' as var;

.button {
  border-radius: var.$radiusSmall;
  padding: 1.2rem 5.2rem;
  font-size: 1.8rem;
  line-height: 130%;
  text-align: center;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.green {
  background: var.$primaryColor;
  color: white;
}

.white {
  background: var.$bgColor;
  color: var.$textColor;
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 2rem;
    padding: 1.6rem 5.6rem;
  }
}