@use '../../assets/styles/var.scss' as var;

.section {
  width: 100%;
  padding: 0 var(--containerPadding);
  display: grid;
  gap: 2.4rem;
}

.productsList {
  display: grid;
  gap: 2rem;
  list-style-type: none;
}

.productsListItem {
  height: 100%;
}

@media screen and (min-width: 480px) {
  .productsList {
    grid-template-columns: 1fr 1fr;
  }
}


@media screen and (min-width: 1000px) {
  .productsList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  .productsList {
    grid-template-columns: repeat(auto-fit, minmax(31.6rem, 1fr))
  }
}