@use '../../../assets/styles/var.scss' as var;

.block {
  position: relative;
}

.btn {
  @include var.flex(center, space-between);
  background: none;
  border-radius: var.$radiusSmall;
  border: .1rem solid var.$borderColor;
  width: 20rem;
  padding: 0.8rem 0.8rem 0.8rem 1.6rem;
  color: var.$textColor;
  cursor: pointer;

  svg {
    width: 2rem;
    height: 2rem;
    fill: none;
    stroke: var.$textColor;
    transition: rotate var.$transitionTime;
  }
}

.btn[data-active="true"] {
  svg {
    rotate: -180deg;
  }
}

.btn,
.li {
  @include var.text(var.$textColor, 1.6rem, 500, 126%);
}

.ul {
  @include var.flex(flex-start, flex-start, column);
  gap: 0.4rem;
  position: absolute;
  top: 100%;
  z-index: 10;
  width: 100%;
  padding: 1.6rem;
  background: var.$bgColor;
  list-style-type: none;
}

.li[data-active="false"] {
  color: var.$spanColor;
  cursor: pointer;
}

.li[data-active="true"] {
  color: var.$textColor;
}

@media screen and (min-width: 768px) {}