@use '../../assets/styles/var.scss' as var;

.nav {
  display: none;
  width: 100%;
}


@media screen and (min-width: 768px) {
  .nav {
    @include var.flex(center, flex-start);
    padding: 3.2rem var(--containerPadding) 0;
  }

  .link {
    hr {
      width: 1.6rem;
    }
  }
}

@media screen and (min-width: 1000px) {
  .nav {
    padding: 4rem var(--containerPadding) 0;
  }
}